html {
    font-family: sans-serif;
}
body {
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > div {
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    border: 2px solid #eee;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
}

#word-form {
    border: 2px solid #aa0000;
    margin: 20px;
}

#correct-guesses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 200px;
    text-align: left;
}

#correct-guesses > p {
    margin: 5px;
}

.box {
    background: #e1e1e1;
    border: 2px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
}

.box:hover {
    cursor: pointer;
    background: #acacac;
}

.middle {
    background: #f2df3a;
}

.middle:hover {
    background: #b2a52c;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
}
  
input:focus {
    border-color: #f2df3a;
    box-shadow: 0 0 5px #f2df3a;
}


footer {
    margin-top: 50px;
    color: gray;
}